<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<table class="howto_table">
	<tbody>
		<tr>
			<td class="sidebar_cell">
			<table class="sidebar_menu">
				<tbody>
					<tr>
						<td>
						<ul>
							<li>
								<a href="materials.html">Materials Needed</a>
							</li>
							<li>
								<a href="coloring.html">Coloring Your Rope</a>
							</li>
							<li>
								<a href="cutting.html">Cutting Your Rope</a>
							</li>
							<li>
								<a href="braiding1.html" class="sidebar_menu_this">Braiding</a>
								<ul>
									<li>
										<a href="braiding1.html">Step 1</a>
									</li>
									<li>
										<a href="braiding2.html">Step 2</a>
									</li>
									<li>
										<a href="braiding3.html" class="sidebar_menu_this">Step 3</a>
									</li>
									<li>
										<a href="braiding4.html">Step 4</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="handles.html">Handle Options</a>
							</li>
							<li>
								<a href="popper.html">Making A Popper</a>
							</li>
						</ul></td>
					</tr>
				</tbody>
			</table></td>

			<td class="howto_details">
				<div class="textbox_header">Braiding - Step 3</div>
				<p>
					Just like at the beginning of <a href="braiding2.html">Step 2</a>, your three strands will become shorter.  
					Continue to braid your three free ends until they are the same length as Rope D's free ends.
				</p>
				<%= image_tag("cutrope7.png") %>
			</td>
		</tr>
		
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details">
				<p>
					Place Rope D underneath of your braided whip so that Rope D's free ends are now running parallel to the 
					two outermost free ends, as shown.  Just like in <a href="braiding2.html">Step 2</a>, you will treat each 
					set of parallel strands as a single "free end."  Continue braiding as you did before.
				</p>
			</td>
		</tr>
	</tbody>
</table>

<table class="prev_next_table">
	<tbody>
		<tr>
			<td class="spacer"></td>
			<td class="prev_step"><a href="braiding2.html"><- Prev. Step</a></td>
			<td class="next_step"><a href="braiding4.html">Next Step -></a></td>
			<td class="spacer"></td>
		</tr>
	</tbody>
</table>