<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<table class="howto_table">
	<tbody>
		<tr>
			<td class="sidebar_cell">
			<table class="sidebar_menu">
				<tbody>
					<tr>
						<td>
						<ul>
							<li>
								<a href="how_to_make.html">Materials Needed</a>
							</li>
							<li>
								<a href="coloring.html">Coloring Your Rope</a>
							</li>
							<li>
								<a href="cutting.html" class="sidebar_menu_this">Cutting Your Rope</a>
							</li>
							<li>
								<a href="braiding1.html">Braiding</a>
								<ul>
									<li>
										<a href="braiding1.html">Step 1</a>
									</li>
									<li>
										<a href="braiding2.html">Step 2</a>
									</li>
									<li>
										<a href="braiding3.html">Step 3</a>
									</li>
									<li>
										<a href="braiding4.html">Step 4</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="handles.html">Handle Options</a>
							</li>
							<li>
								<a href="popper.html">Making A Popper</a>
							</li>
						</ul></td>
					</tr>
				</tbody>
			</table></td>

			<td class="howto_details">
				<div class="textbox_header">Cutting Your Rope</div>
				<p>
					The nylon whip is constructed using a three-strand flat braid technique on five lengths of nylon rope.
					For the purposes of this tutorial, each cut length will be referred to by a letter (ex. the "A" rope,
					"B" rope, etc.).  The <a href="howtomake_braiding_step1.html">Braiding</a> tutorial will use this naming
					convention, so be sure to remember which rope is which.
				</p>
				<p>
					Assuming that you want to make a 3-ft. long nylon whip, you'll need to cut the five lengths of rope
					as follows:
					<table class="rope_lengths">
						<tr>
							<th>Rope Name</th>
							<th>Rope Length</th>
						</tr>
						<tr>
							<td>Rope A</td>
							<td>48 in.</td>
						</tr>
						<tr class="alt">
							<td>Rope B</td>
							<td>80 in.</td>
						</tr>
						<tr>
							<td>Rope C</td>
							<td>60 in.</td>
						</tr>
						<tr class="alt">
							<td>Rope D</td>
							<td>42 in.</td>
						</tr>
						<tr>
							<td>Rope E</td>
							<td>24 in.</td>
						</tr>
					</table>
				</p>
				<p>
					To calculate the rope lengths you'll need for a 6-ft. long whip, you need only to double the rope 
					lengths listed above.  If you want some other oddball length, you can either figure out the mathwork 
					on your own (it's not terribly hard) OR reference the formulas below:
					<table class="rope_lengths">
						<tr>
							<th colspan="2">Finished Whip Length = Y</th>
						</tr>
						<tr>
							<th>Rope Name</th>
							<th>Length Formula</th>
						</tr>
						<tr>
							<td>Rope A</td>
							<td>Y x 1.3333</td>
						</tr>
						<tr class="alt">
							<td>Rope B</td>
							<td>Y x 2.2222</td>
						</tr>
						<tr>
							<td>Rope C</td>
							<td>Y x 1.6667</td>
						</tr>
						<tr class="alt">
							<td>Rope D</td>
							<td>Y x 1.1667</td>
						</tr>
						<tr>
							<td>Rope E</td>
							<td>Y x 0.6667</td>
						</tr>
					</table>
				</p>
			</td>
			<td class="howto_img"><%= image_tag("cutrope1.png") %></td>
		</tr>
		
		<tr>
			<td class="sidebar_cell"></td>
			<td class="howto_details">
				<p>
					
				</p>
				<p>
					After cutting all five lengths of rope, fold Ropes B, C, D & E in half.  Line them up side-by-side 
					in alphabetical order, as shown.  You will be braiding these five ropes together using a three-strand 
					flat braid.
				</p>
			</td>
			<td class="howto_img"><%= image_tag("cutrope2.png") %></td>
		</tr>
	</tbody>
</table>

<table class="prev_next_table">
	<tbody>
		<tr>
			<td class="spacer"></td>
			<td class="prev_step"><a href="coloring.html"><- Prev. Step</a></td>
			<td class="next_step"><a href="braiding1.html">Next Step -></a></td>
			<td class="spacer"></td>
		</tr>
	</tbody>
</table>