<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<table class="howto_table">
	<tbody>
		<tr>
			<td class="sidebar_cell">
			<table class="sidebar_menu">
				<tbody>
					<tr>
						<td>
						<ul>
							<li>
								<a href="materials.html" class="sidebar_menu_this">Materials Needed</a>
							</li>
							<li>
								<a href="coloring.html">Coloring Your Rope</a>
							</li>
							<li>
								<a href="cutting.html">Cutting Your Rope</a>
							</li>
							<li>
								<a href="braiding1.html">Braiding</a>
								<ul>
									<li>
										<a href="braiding1.html">Step 1</a>
									</li>
									<li>
										<a href="braiding2.html">Step 2</a>
									</li>
									<li>
										<a href="braiding3.html">Step 3</a>
									</li>
									<li>
										<a href="braiding4.html">Step 4</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="handles.html">Handle Options</a>
							</li>
							<li>
								<a href="popper.html">Making A Popper</a>
							</li>
						</ul></td>
					</tr>
				</tbody>
			</table></td>

			<td class="howto_details">
			<div class="textbox_header">
				Materials Needed
			</div>
			<p>
				Here is the list of materials and tools that you'll need in order to make your own nylon whip:
				<ul>
					<li>
						A bundle of 1/4 in. diameter White Braided Nylon Rope
						<p>
							(<b>NOTE:</b> The overall length needed will depend on how long you want your finished whip to be.
							See the <a href="cutting.html">Cutting Your Rope</a> section to determine how much rope you'll need.)
						</p>
					</li>
					<li>
						At least 5 ft. of Twisted Mason Line
					</li>
					<li>
						Tape Measurer
					</li>
					<li>
						A Lighter (preferably a butane lighter)
					</li>
					<li>
						Scissors
					</li>
					<li>
						Needle Nose Plyers
					</li>
					<li>
						Forceps or a Mini Binder Clip
					</li>
					<li>
						One roll of Grip Tape or Electrical Tape
					</li>
					<li>
						A Clamp or a heavy Soft-Cover Book (in case you need to step away from your work and don't want it
						coming undone)
					</li>
				</ul>
			</p></td>

			<td class="howto_img"><%= image_tag("whip.png") %></td>
		</tr>
	</tbody>
</table>

<table class="prev_next_table">
	<tbody>
		<tr>
			<td class="spacer"></td>
			<td class="prev_step"></td>
			<td class="next_step"><a href="coloring.html">Next Step -></a></td>
			<td class="spacer"></td>
		</tr>
	</tbody>
</table>