<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<table class="main_table">
	<tbody>
		<tr>
			<td class="howto_details">
				<div class="textbox_header">How To Contact Me</div>
				<p>
					If you have questions/comments for me regarding this website or about whips in general, please feel
					free to contact me:
				</p>
				<form>
					<table>
						<tbody>
							<tr>
								<td class="label">Your E-Mail Address:</td>
								<td class="tbox">
								<input type="text" size="30" name="user_email" />
								</td>
							</tr>
							<tr>
								<td class="label">Comments:</td>
								<td class="tbox">
									<textarea cols="23" rows="4" name="comments" ></textarea>
								</td>
							</tr>
							<tr>
								<td></td>
								<td class="sbutton">
									<input type="submit" name="send" value="Send" />
								</td>
							</tr>
						</tbody>
					</table>
				</form>
			</td>

			<td class="howto_img"><%= image_tag("whip4.png") %></td>
		</tr>
	</tbody>
</table>