<% if notice %>
<p id="notice">
	<%= notice %>
</p>
<% end %>

<table class="howto_table">
	<tbody>
		<tr>
			<td class="howto_details">
				<div class="textbox_header">How To Care For Your Whip</div>
				<p>
					Caring for your whip will require a few different approaches, depending on what it is you use your 
					whip for.  If you use it outside on a regular basis, it's going to get dirty rather quickly.  If you 
					use your whip for striking targets, the tip of your whip is going to wear out over time.  Here are a 
					few tips for the various ways you can care for your whip to keep it in good condition.
				</p><br />
				
				<div class="textbox_header">Cleaning Your Whip</div>
				<p>
					Washing your whip is quite easy to do!  Since it's made of nylon rope, you can literally throw it in 
					your washing machine (but follow the instructions below first)!
				</p>
				<p>
					<b>NOTE:</b>  If your whip handle is constructed using tape of any sort, the following instructions 
					may cause your handle to come undone!  If you insist on proceeding with cleaning your whip, use some 
					twine and tie a very tight & secure knot around the bottom of your whip right above your handle.  
					This will prevent your whip from coming undone should the tape fail and come apart during the cleaning 
					process!! 
				</p>
				<p>
					Take your whip and put it in a delicate garment bag; if you don't have a delicate garment bag, put your 
					whip in a pillow case and tie it closed.
				</p>
				<p>
					Set your washing machine to the following settings:
					<ul>
						<li>Small Load</li>
						<li>Cold Water Only</li>
						<li>Delicate/Gentle Wash Cycle</li>
					</ul>
				</p>
				<p>
					Add the appropriate amount of detergent for a small load while your washing machine is filling up with 
					water.  <b><em>DO NOT ADD FABRIC SOFTENER!</em></b>  Fabric softener will make the ropes more slippery than a 
					greased pig, which will make it much easier for your whip to come undone.
				</p>
				<p>
					Throw your delicate garment bag/pillow case in the wash and let it run its course.  When the washing 
					machine is finished, take your whip out of the bag and hang it up somewhere to let it air dry.  That's 
					all there is to it!
				</p><br />
			<td class="howto_img"><%= image_tag("whip5.png") %></td>
		</tr>
		
		<tr>
			<td class="howto_details">
				<div class="textbox_header">Fixing Your Whip's Tip</div>
				<p>
					If the tip of your whip becomes frayed due to hitting against various surfaces during use, it may start 
					to split.  This can cause your popper to fall off (most likely during use), which will cause you to lose 
					your popper.  To fix this, simply remove the popper (assuming you haven't lost it already), and break out 
					your butane lighter and pliers.  Melt the first inch of your whip's tip with your butane lighter, and 
					use the pliers to press the melted tip flat.  Once it cools off, just re-install your popper and get 
					back to cracking!
				</p>
				<p>
					Sometimes the tip of your whip may become too beaten and frayed for the above method to work.  If that's 
					the case, then the best thing to do is to simply cut off the tip of your whip so that you've got a clean 
					tip to work with.  Then simply melt the first inch of your whip's tip with your butane lighter, and press 
					it flat with your pliers.  For more details, check out the <a href="popper.html">Making A Popper</a> 
					tutorial.
				</p><br />
				
				<div class="textbox_header">Replacing Your Popper</div>
				<p>
					If your popper becomes damaged or gets ripped off during use, don't get upset.  That is to be expected.  
					Poppers are designed to take the brunt of the punishment so that your whip doesn't have to.  Replacing 
					a popper is a piece of cake.  Simply follow the <a href="popper.html">Making A Popper</a> tutorial to 
					make a new one!
				</p>
			</td>
			<td class="howto_img"><%= image_tag("finishedpopper2.png") %></td>
		</tr>
	</tbody>
</table>