/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.locale {
  float: right;
  margin: -0.25em 0.1em;
}

.store {
  font-family: "Tahoma", "Helvetica", sans-serif;
  font-size: 12px;
  background: black;
  color: white;
  display: block;
}

#cart_box {
  margin: 0;
  border-right: 1px solid rgb(25,25,25);
  vertical-align: top;
  padding: 0px;
  width: 150px;
  text-align: left;
  
  .cart_header {
    color: rgb(255,153,0);
    font-size: 14px;
    font-weight: bold;
  }
  
  form, div {
    display: inline;
  }
  
  input {
    font-size: small;
  }
  
  #cart {
    font-size: smaller;
    color: white;
    
    table {
      border-top: 1px dotted rgb(239,74,21);
      border-bottom: 1px dotted rgb(239,74,21);
      margin-bottom: 10px;
    }
  }
  
  ul {
    padding: 0;
    
    li {
      list-style: none;
      
      a {
        color: rgb(255,153,0);
        font-size: small;
      }
    }
  }
}

#notice {
  color: #000 !important;
  border: 2px solid rgb(239,74,21);
  padding: 1em;
  margin: 20px;
  background-color: rgb(255,153,0);
  font: bold smaller sans-serif;
}

.depot_form {
  fieldset {
    background: inherit;
    border: none;
    legend {
      color: inherit;
      background: rgb(239,74,21);
      font-family: sans-serif;
      padding: 0.2em 1em;
    }
  }
  
  form {
    label {
      width: 5em;
      float: left;
      text-align: right;
      padding-top: 0.2em;
      margin-right: 0.1em;
      display: block;
    }
    
    select, textarea, input {
      margin-left: 0.5em;
    }
    
    .submit {
      margin-left: 4em;
    }
    br {
      display: none;
    }
  }
}

body {
  font-family: "Tahoma", "Helvetica", sans-serif;
  font-size: 12px;
  background: black;
  color: white;
  display: block;
}

.container {
    width: 800px;
    margin: 0 auto;
    background-color: rgb(70,70,70);
}

header {
  width: 100%;
  height: 110px;
  margin: 0;
  padding: 9.5px 0 0 0;
  text-align: center;
  background: url("/assets/header.png") top repeat-x rgb(70,70,70);
}

.logo {
  width: 418px;
  height: 101px;
  background: url("/assets/logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  margin: auto 191px;
  font-family: "Tahoma", "Helvetica", sans-serif;
  font-size:  10pt;
  font-weight: bold;
  color: white;
  text-align: center;
  vertical-align: middle;
}

/* Navigation Bar Section */
nav {
  width: 100%;
  height: 25px;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

.navigation {
  width: 100%;
  height: 25px;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.navigation li {
  width: 20%;
  float: left;
  list-style-type: none;
  background: url("/assets/nav_bar.png") top repeat-x rgb(239,74,21);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.navigation li.navigation_this {
  width: 20%;
  float: left;
  list-style-type: none;
  background: url("/assets/nav_this.png") top repeat-x rgb(255,153,0);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.navigation li.navigation_this p a.navigation_a_this {
  color: black;
}

.navigation li p {
  height: 25px;
  vertical-align: middle;
  margin: 4px 0 0 0;
  padding: 0;
}

.navigation li p a {
  font-size: 14px;
  font-weight: bold;
  color: rgb(102,0,0);
  margin: 0;
  padding: 0;
}

.navigation li:hover {
  background: url("/assets/nav_this.png") top repeat-x rgb(255,153,0);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  
}

.navigation li:hover p a {
  color: black;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

/* Primary Body Content Section */
.main_section {
  min-height: 400px;
  margin: 20px;
  display: inline-block;
  text-align: left;
}

/* General Content Section */
.main_table {
/*  margin: 20px;
*/
}

.intro_img {
  -moz-box-shadow: 5px 5px 15px #111111;
  -webkit-box-shadow: 5px 5px 15px #111111;
  box-shadow: 5px 5px 15px #111111;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.index_img {
  vertical-align: top;
}

.textbox {
  min-width: 145px;
  min-height: 145px;
  border: none;
  background-color: rgb(70,70,70);
  padding: 20px;
  margin: 0;
  -moz-box-shadow: 5px 5px 15px #111111;
  -webkit-box-shadow: 5px 5px 15px #111111;
  box-shadow: 5px 5px 15px #111111;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  display: inline-block;
  font-size: 12px;
}

.textbox_header {
  font-size: larger;
  font-weight: bold;
  color: rgb(255,153,0);
  padding: 1px;
  border-bottom: 1px solid rgb(255,153,0);
}

a {
  text-decoration: none;
  color: grey;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: rgb(255,153,0);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}


/* "How To Make" Tutorial Section */
.howto_table {
  vertical-align: top;
  margin: 0;
}

.howto_table tbody tr td table.sidebar_table {
  vertical-align: top;
  width: 150px;
  font-weight: bold;
}

.howto_details {
  padding-left: 20px;
  vertical-align: top;
}

.howto_details img {
  vertical-align: top;
  text-align: top;
  margin-left: 25%;
}

.howto_images img {
  padding-left: 20px;
  padding-bottom: 20px;
  vertical-align: top;
}

.howto_img {
  min-width: 100px;
  vertical-align: top;
  text-align: top;
}

.prev_next_table tbody tr {
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
}

.spacer {
  width: 170px;
  border: none;
  padding: 0;
  margin: 0;
}

.prev_step {
  width: 207px;
  text-align: left;
  font-weight: bold;
  font-style: italic;
  border: none;
  padding: 0;
  margin: 0;
}

.next_step {
  width: 207px;
  text-align: right;
  font-weight: bold;
  font-style: italic;
  border: none;
  padding: 0;
  margin: 0;
}

/* Sidebar Menu Section */
.sidebar_cell {
  padding: 0px;
  min-width: 150px;
  vertical-align: top;
}

.sidebar {
  padding: 0px;
  margin: 0px;
  width: 150px;
  border-right: 1px solid rgb(25,25,25);
  vertical-align: top;
  text-align: left;
  font-weight: bold;
  font-style: italic;
  list-style-type: none;
}

.sidebar_sect {
  margin: 0px 0px 20px 0px;
}

.sidebar_sect a, .sidebar_bottom a {
  padding-left: 5px;
}

.sidebar_sect a.sidebar_this, .sidebar_bottom a.sidebar_this, .sidebar_sect a:hover, .sidebar_bottom a:hover  {
  padding: 5px;
  font-weight: bold;
  background-color: rgb(90,90,90);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.sidebar_bottom {
  margin: 0px;
  padding: 0px;
}

.sidebar_menu {
  margin: 0;
  border-right: 1px solid rgb(25,25,25);
  vertical-align: top;
  padding: 0px;
  width: 150px;
  min-height: 345px;
  text-align: left;
  font-weight: bold;
  font-style: italic;
  list-style-type: none;
}

.sidebar_menu tbody {
  vertical-align: top;
}

.sidebar_menu ul, .sidebar_menu li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.sidebar_menu ul li:hover {
  background-color: rgb(90,90,90);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.sidebar_menu ul li {
  float: left;
  position: relative;
  width: 100%;
}

.sidebar_menu ul li a {
  display: block;
  padding: 10px;
  margin: 0px;
  font-size: 14px;
}

.sidebar_menu ul ul li a {
  display: block;
  padding: 0;
  font-size: 12px;
  white-space: nowrap;
  -webkit-transition: opacity all 0.3s ease-in;
  -moz-transition: opacity all 0.3s ease-in;
  -o-transition: opacity all 0.3s ease-in;
  transition: opacity all 0.3s ease-in;
}

.sidebar_menu_this {
  font-weight: bold;
  color: rgb(255,153,0);
  background-color: rgb(90,90,90);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.sidebar_menu ul ul {
  position: absolute;
  top: -99999px;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity all 0.3s ease-in;
  -moz-transition: opacity all 0.3s ease-in;
  -o-transition: opacity all 0.3s ease-in;
  transition: opacity all 0.3s ease-in;
  z-index: 497;
  margin: 0 0 0 10px;
  padding: 0;
  width: 75px;
}

.sidebar_menu ul ul ul {
  position: absolute;
  top: -99999px;
  left: 100%;
}

.sidebar_menu ul li:hover ul {
  opacity: 1;
  position: relative;
  text-align: left;
  display: block;
  top: 99%;
  left: 0;
}

.sidebar_menu ul ul li:hover ul {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 100%;
}


/*  Rope Length Table Section */
.rope_lengths {
  border: 1px solid rgb(25,25,25);
  border-collapse: collapse;
  background-color: rgb(90,90,90);
  min-width: 200px;
}

.rope_lengths tr th {
  height: 25px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid rgb(25,25,25);
  background-color: rgb(239,74,21);
  color: rgb(102,0,0);
}

.rope_lengths tr td {
  border: 1px solid rgb(25,25,25);
  padding: 3px 5px;
}

.rope_lengths tr.alt td {
  border: 1px solid rgb(25,25,25);
  background-color: rgb(70,70,70);
}

/* Footer Section */
footer {
  height: 72px;
  text-align: center;
  font-size: 10px;
  background: url("/assets/footer.png") top repeat-x rgb(70,70,70);
}

.footer_div {
  text-align: center;
    padding: 3px 0;
  font-size: 10px;
}

.footer_first, .footer_first:visited {
  padding: 2px 10px;
  color: lightgray;
  border-left: none;
}

.footer_a, .footer_a:visited {
  padding: 2px 10px;
  color: lightgray;
  border-left: 1px solid rgb(255,153,0);
}

.footer_a:hover, .footer_first:hover {
  color: rgb(255,153,0);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

/*
#banner {
  width: 100%;
  height: 110px;
  margin: 0;
  padding: 9.5px 0 0 0;
  text-align: center;
  background: url("images/header.png") top repeat-x rgb(70,70,70);
  
  img {
    width: 418px;
    height: 101px;
    background: url("images/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    margin: auto 191px;
    font-family: "Tahoma", "Helvetica", sans-serif;
    font-size:  10pt;
    font-weight: bold;
    color: white;
    text-align: center;
    vertical-align: middle;
  }
}

#columns {
  background: rgb(70,70,70);
  
  #main {
    margin-left: 17em;
    padding: 1em;
    background: white;
  }
  
  #side {
    float: left;
    padding: 1em 2em;
    width: 13em;
    background: rgb(70,70,70);
    
    ul {
      padding: 0;
      li {
        list-style: none;
        a {
          color: rgb(255,153,0);
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}
*/